<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    <style>
        .employee-card {
            box-shadow: -1px -1px 3px 3px white, 0px 0px 3px 3px grey;
        }
        .engineer {
            background-color: rgba(0, 0, 255, 0.03);
        }
        .intern {
            background-color: rgba(0, 255, 0, 0.03);
        }
        .manager {
            background-color: rgba(255, 0, 0, 0.03);
        }
    </style>
</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading employee-card">
                <h1 class="text-center">My Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-area col-12 d-flex flex-wrap align-content-stretch justify-content-center">
                {{ team }}
            </div>
        </div>
    </div>
</body>

</html>
